In [5]:
## import necessary modules
import pandas as pd
import numpy as np

In [7]:
condition = pd.read_csv('h214.csv')

In [9]:
condition

,DUID,PID,DUPERSID,CONDN,CONDIDX,PANEL,CONDRN,AGEDIAG,CRND1,CRND2,...,CCSR3X,HHNUM,IPNUM,OPNUM,OBNUM,ERNUM,RXNUM,PERWT19F,VARSTR,VARPSU
0,2320002,103,2320002103,1,2320002103001,23,4,-1,-1,-1,...,-1,0,0,0,4,0,0,19455.742320,2019,1
1,2320002,103,2320002103,2,2320002103002,23,4,-1,-1,-1,...,-1,0,1,0,1,1,0,19455.742320,2019,1
2,2320005,101,2320005101,1,2320005101001,23,4,-1,-1,-1,...,-1,0,0,0,0,0,2,5919.292270,2079,1
3,2320005,102,2320005102,1,2320005102001,23,1,71,-1,-1,...,-1,0,0,0,0,0,2,5356.640305,2079,1
4,2320005,102,2320005102,4,2320005102004,23,2,-1,-1,-1,...,-1,0,0,0,0,0,4,5356.640305,2079,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87556,2469687,102,2469687102,7,2469687102007,24,1,-1,1,1,...,-1,0,0,0,0,0,3,15756.362730,2002,2
87557,2469687,102,2469687102,9,2469687102009,24,3,-1,0,0,...,-1,0,0,0,0,1,0,15756.362730,2002,2
87558,2469687,102,2469687102,10,2469687102010,24,3,-1,0,0,...,-1,0,0,0,0,1,0,15756.362730,2002,2
87559,2469689,101,2469689101,1,2469689101001,24,1,44,1,1,...,-1,0,0,0,3,0,0,8370.423095,2001,1
87560,2469689,101,2469689101,3,2469689101003,24,2,-1,0,1,...,-1,0,0,0,0,0,1,8370.423095,2001,1

In [17]:
condition.shape

(87561, 28)

In [21]:
condition.keys()

Index(['DUID', 'PID', 'DUPERSID', 'CONDN', 'CONDIDX', 'PANEL', 'CONDRN',
       'AGEDIAG', 'CRND1', 'CRND2', 'CRND3', 'CRND4', 'CRND5', 'INJURY',
       'ACCDNWRK', 'ICD10CDX', 'CCSR1X', 'CCSR2X', 'CCSR3X', 'HHNUM', 'IPNUM',
       'OPNUM', 'OBNUM', 'ERNUM', 'RXNUM', 'PERWT19F', 'VARSTR', 'VARPSU'],
      dtype='object')

In [23]:
len(condition.keys())

28

In [11]:
consolidation = pd.read_csv('h216.csv')

In [13]:
consolidation

,DUID,PID,DUPERSID,PANEL,FAMID31,FAMID42,FAMID53,FAMID19,FAMIDYR,CPSFAMID,...,RXPTR19,RXOTH19,PERWT19F,FAMWT19F,FAMWT19C,SAQWT19F,VSAQW19F,DIABW19F,VARSTR,VARPSU
0,2320002,101,2320002101,23,B,B,B,B,B,B,...,0,0,14602.115870,13727.593910,13727.593910,13985.516020,0.0,0.0,2019,1
1,2320002,102,2320002102,23,A,A,A,A,A,A,...,0,0,25324.216050,18586.327530,18586.327530,28061.590940,0.0,0.0,2019,1
2,2320002,103,2320002103,23,A,A,A,A,A,A,...,0,0,19455.742320,18586.327530,18586.327530,0.000000,0.0,0.0,2019,1
3,2320005,101,2320005101,23,A,A,A,A,A,A,...,0,0,5919.292270,6692.229133,6692.229133,0.000000,0.0,0.0,2079,1
4,2320005,102,2320005102,23,A,A,A,A,A,A,...,7,0,5356.640305,6692.229133,6692.229133,0.000000,0.0,0.0,2079,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,2469687,101,2469687101,24,A,A,A,A,A,A,...,0,0,14041.755040,12520.997840,12520.997840,19082.625060,0.0,0.0,2002,2
28508,2469687,102,2469687102,24,A,A,A,A,A,A,...,0,0,15756.362730,12520.997840,12520.997840,15197.684910,0.0,0.0,2002,2
28509,2469688,101,2469688101,24,A,A,A,A,A,A,...,0,0,8431.306797,7910.193432,7910.193432,10012.710200,0.0,0.0,2053,2
28510,2469688,102,2469688102,24,A,A,A,A,A,A,...,0,0,9415.680805,7910.193432,7910.193432,11162.724210,0.0,0.0,2053,2
28511,2469689,101,2469689101,24,A,A,A,A,A,A,...,410,0,8370.423095,7838.638571,7838.638571,8560.335713,0.0,0.0,2001,1

In [25]:
consolidation.shape

(28512, 1447)

In [31]:
len(consolidation.keys())

1447

In [33]:
condition.nunique()

DUID        10773
PID            27
DUPERSID    19810
CONDN          54
CONDIDX     87561
PANEL           2
CONDRN          5
AGEDIAG        90
CRND1           3
CRND2           3
CRND3           2
CRND4           3
CRND5           3
INJURY          2
ACCDNWRK        7
ICD10CDX      394
CCSR1X        251
CCSR2X         30
CCSR3X          2
HHNUM          32
IPNUM           7
OPNUM          66
OBNUM         151
ERNUM          13
RXNUM          42
PERWT19F    19258
VARSTR        105
VARPSU          6
dtype: int64

In [39]:
print(condition[["ICD10CDX"]])

      ICD10CDX
0          Z00
1          R56
2          -15
3          I10
4          Z13
...        ...
87556      K21
87557      M17
87558      R11
87559      I10
87560      Z71

[87561 rows x 1 columns]

In [43]:
condition['ICD10CDX'] == "F32"

0        False
1        False
2        False
3        False
4        False
         ...
87556    False
87557    False
87558    False
87559    False
87560    False
Name: ICD10CDX, Length: 87561, dtype: bool

In [45]:
## show the number of entire data instances
print("The number of entire data instances are:", condition.shape[0]) 

## Create a mask in which instances related to asthma are "True"
mask_Depress = condition['ICD10CDX'] == "F32"

print(mask_Depress)

The number of entire data instances are: 87561
0        False
1        False
2        False
3        False
4        False
         ...
87556    False
87557    False
87558    False
87559    False
87560    False
Name: ICD10CDX, Length: 87561, dtype: bool

In [47]:
print(mask_Depress.value_counts())

ICD10CDX
False    85617
True      1944
Name: count, dtype: int64

In [49]:
condition_DepressiveEpisode = condition[mask_Depress]

## show the number of selected data instances
print("The number of selected data instances are:", condition_DepressiveEpisode.shape[0])

The number of selected data instances are: 1944

In [35]:
condition[condition['ICD10CDX'] == 'F32']

,DUID,PID,DUPERSID,CONDN,CONDIDX,PANEL,CONDRN,AGEDIAG,CRND1,CRND2,...,CCSR3X,HHNUM,IPNUM,OPNUM,OBNUM,ERNUM,RXNUM,PERWT19F,VARSTR,VARPSU
41,2320019,101,2320019101,3,2320019101003,23,1,-1,-1,-1,...,-1,0,0,0,0,0,1,10969.437640,2018,2
79,2320022,104,2320022104,4,2320022104004,23,4,-1,-1,-1,...,-1,0,0,0,3,0,1,16255.278030,2009,1
133,2320035,103,2320035103,5,2320035103005,23,1,-1,-1,-1,...,-1,0,0,0,36,0,0,0.000000,2033,2
143,2320036,102,2320036102,5,2320036102005,23,1,-1,-1,-1,...,-1,0,0,0,0,0,3,9772.904847,2069,1
173,2320041,101,2320041101,4,2320041101004,23,5,-1,-1,-1,...,-1,0,0,0,18,0,0,19438.568970,2026,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87396,2469634,102,2469634102,6,2469634102006,24,1,-1,1,1,...,-1,0,0,0,9,0,10,3087.643149,2056,1
87417,2469639,101,2469639101,8,2469639101008,24,1,-1,1,1,...,-1,0,0,0,1,0,6,8768.072023,2098,2
87449,2469657,101,2469657101,4,2469657101004,24,1,-1,1,1,...,-1,0,0,0,12,0,5,12973.730850,2049,2
87485,2469671,101,2469671101,6,2469671101006,24,1,-1,1,1,...,-1,0,0,0,51,0,0,39273.263430,2046,1
87526,2469677,101,2469677101,10,2469677101010,24,3,-1,0,0,...,-1,0,0,0,0,0,1,14375.884670,2115,1

In [53]:
# Select duplicate rows except first occurrence based on all columns

## create a mask for duplicated instances
mask_duplicates = condition_DepressiveEpisode.duplicated()
duplicate_Rows = condition_DepressiveEpisode[mask_duplicates]
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicate_Rows)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [DUID, PID, DUPERSID, CONDN, CONDIDX, PANEL, CONDRN, AGEDIAG, CRND1, CRND2, CRND3, CRND4, CRND5, INJURY, ACCDNWRK, ICD10CDX, CCSR1X, CCSR2X, CCSR3X, HHNUM, IPNUM, OPNUM, OBNUM, ERNUM, RXNUM, PERWT19F, VARSTR, VARPSU]
Index: []

[0 rows x 28 columns]

In [55]:
# Select all duplicate rows based on one column

## create a mask for duplicated instances
mask_duplicates = condition_DepressiveEpisode.duplicated(subset=['DUPERSID'], keep=False)
duplicate_Rows = condition_DepressiveEpisode[mask_duplicates]

print("Duplicate Rows based on a single column are:", duplicate_Rows, sep='\n')

Duplicate Rows based on a single column are:
          DUID  PID    DUPERSID  CONDN        CONDIDX  PANEL  CONDRN  AGEDIAG  \
1667   2320395  101  2320395101      3  2320395101003     23       1       -1
1670   2320395  101  2320395101      8  2320395101008     23       5       -1
3515   2320803  101  2320803101     11  2320803101011     23       1       -1
3518   2320803  101  2320803101     15  2320803101015     23       2       -1
4101   2320907  101  2320907101     12  2320907101012     23       2       -1
...        ...  ...         ...    ...            ...    ...     ...      ...
68869  2465337  101  2465337101      7  2465337101007     24       2       -1
76240  2467097  102  2467097102     11  2467097102011     24       1       -1
76242  2467097  102  2467097102     13  2467097102013     24       2       -1
85447  2469155  104  2469155104      4  2469155104004     24       1       -1
85453  2469155  104  2469155104     10  2469155104010     24       2       -1

       CRND1  CRND2  ...  CCSR3X  HHNUM  IPNUM  OPNUM  OBNUM ERNUM RXNUM  \
1667      -1     -1  ...      -1      0      0      0      1     0     0
1670      -1     -1  ...      -1      0      0      0      0     0     1
3515      -1     -1  ...      -1      0      0      0      0     0     3
3518      -1     -1  ...      -1      0      0      0      4     0     2
4101      -1     -1  ...      -1      0      0      0     21     0     0
...      ...    ...  ...     ...    ...    ...    ...    ...   ...   ...
68869      0      1  ...      -1      0      0      0     19     0     0
76240      1      0  ...      -1      0      0      0      0     0     2
76242      0      1  ...      -1      0      0      0      1     0     1
85447      1      0  ...      -1      0      0      0     20     0     0
85453      0      1  ...      -1      0      0      0     24     0     0

           PERWT19F VARSTR  VARPSU
1667   11417.526330   2020       1
1670   11417.526330   2020       1
3515   10766.418410   2066       1
3518   10766.418410   2066       1
4101   12768.183590   2113       2
...             ...    ...     ...
68869  13133.741420   2096       4
76240   6626.538056   2079       2
76242   6626.538056   2079       2
85447  19192.353490   2028       1
85453  19192.353490   2028       1

[62 rows x 28 columns]

In [57]:
# Look through this again

## Calculate the number of unique patients with Depressive episode

## create a mask for duplicated instances
## All duplicates except their first occurrence will be marked as True
mask_duplicates = condition_DepressiveEpisode.duplicated(subset=['DUPERSID'], keep="first")
print(mask_duplicates.value_counts())
print("The numnber of unique instances are:", condition_DepressiveEpisode.shape[0] - duplicate_Rows.shape[0])

False    1913
True       31
Name: count, dtype: int64
The numnber of unique instances are: 1882

In [61]:
filtered_DepressiveEpisode = condition_DepressiveEpisode[~ mask_duplicates]
print(filtered_DepressiveEpisode.shape)

(1913, 28)

In [65]:
filtered_consolidation = consolidation[["DUPERSID", "SEX"]]
filtered_consolidation

         DUPERSID  SEX
0      2320002101    1
1      2320002102    2
2      2320002103    2
3      2320005101    2
4      2320005102    1
...           ...  ...
28507  2469687101    2
28508  2469687102    2
28509  2469688101    2
28510  2469688102    1
28511  2469689101    1

[28512 rows x 2 columns]

In [83]:
joined = pd.merge(left = filtered_DepressiveEpisode, right = consolidation , how="inner", on='DUPERSID')

joined

,DUID_x,PID_x,DUPERSID,CONDN,CONDIDX,PANEL_x,CONDRN,AGEDIAG,CRND1,CRND2,...,RXPTR19,RXOTH19,PERWT19F_y,FAMWT19F,FAMWT19C,SAQWT19F,VSAQW19F,DIABW19F,VARSTR_y,VARPSU_y
0,2320019,101,2320019101,3,2320019101003,23,1,-1,-1,-1,...,1593,0,10969.437640,12448.384130,12448.384130,0.000000,0.0,0.0,2018,2
1,2320022,104,2320022104,4,2320022104004,23,4,-1,-1,-1,...,7,0,16255.278030,16654.382190,16654.382190,23862.641360,0.0,0.0,2009,1
2,2320035,103,2320035103,5,2320035103005,23,1,-1,-1,-1,...,0,0,0.000000,10342.506620,10342.506620,0.000000,0.0,0.0,2033,2
3,2320036,102,2320036102,5,2320036102005,23,1,-1,-1,-1,...,472,0,9772.904847,10124.161070,10124.161070,14076.685450,0.0,0.0,2069,1
4,2320041,101,2320041101,4,2320041101004,23,5,-1,-1,-1,...,1156,0,19438.568970,19991.281700,19991.281700,23557.716010,0.0,0.0,2026,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,2469634,102,2469634102,6,2469634102006,24,1,-1,1,1,...,397,0,3087.643149,0.000000,0.000000,3217.612180,0.0,0.0,2056,1
1909,2469639,101,2469639101,8,2469639101008,24,1,-1,1,1,...,0,0,8768.072023,6787.273581,6787.273581,7980.451597,0.0,0.0,2098,2
1910,2469657,101,2469657101,4,2469657101004,24,1,-1,1,1,...,379,0,12973.730850,14356.378380,14356.378380,15205.195970,0.0,0.0,2049,2
1911,2469671,101,2469671101,6,2469671101006,24,1,-1,1,1,...,6465,0,39273.263430,38433.175350,38433.175350,44525.095800,0.0,0.0,2046,1
1912,2469677,101,2469677101,10,2469677101010,24,3,-1,0,0,...,179,0,14375.884670,14564.473930,14564.473930,16405.934470,0.0,0.0,2115,1

In [85]:
items_deletion = []
items_using = []

for item in joined.columns:
    if "_x" in item:
        items_using.append(item)
    elif "_y" in item:
        items_deletion.append(item)

print(items_deletion)
print(items_using)

['DUID_y', 'PID_y', 'PANEL_y', 'PERWT19F_y', 'VARSTR_y', 'VARPSU_y']
['DUID_x', 'PID_x', 'PANEL_x', 'PERWT19F_x', 'VARSTR_x', 'VARPSU_x']

In [87]:
# drop the duplicate abbreviation column
joined = joined.drop(labels= items_deletion, axis= 1)

# change column name

for item in items_using:
    joined.rename(columns={item: item.replace("_x", "")}, inplace=True)

In [89]:
joined

,DUID,PID,DUPERSID,CONDN,CONDIDX,PANEL,CONDRN,AGEDIAG,CRND1,CRND2,...,RXSTL19,RXWCP19,RXOSR19,RXPTR19,RXOTH19,FAMWT19F,FAMWT19C,SAQWT19F,VSAQW19F,DIABW19F
0,2320019,101,2320019101,3,2320019101003,23,1,-1,-1,-1,...,0,0,0,1593,0,12448.384130,12448.384130,0.000000,0.0,0.0
1,2320022,104,2320022104,4,2320022104004,23,4,-1,-1,-1,...,0,0,0,7,0,16654.382190,16654.382190,23862.641360,0.0,0.0
2,2320035,103,2320035103,5,2320035103005,23,1,-1,-1,-1,...,0,0,0,0,0,10342.506620,10342.506620,0.000000,0.0,0.0
3,2320036,102,2320036102,5,2320036102005,23,1,-1,-1,-1,...,0,0,0,472,0,10124.161070,10124.161070,14076.685450,0.0,0.0
4,2320041,101,2320041101,4,2320041101004,23,5,-1,-1,-1,...,0,0,0,1156,0,19991.281700,19991.281700,23557.716010,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,2469634,102,2469634102,6,2469634102006,24,1,-1,1,1,...,0,0,0,397,0,0.000000,0.000000,3217.612180,0.0,0.0
1909,2469639,101,2469639101,8,2469639101008,24,1,-1,1,1,...,0,0,0,0,0,6787.273581,6787.273581,7980.451597,0.0,0.0
1910,2469657,101,2469657101,4,2469657101004,24,1,-1,1,1,...,0,0,0,379,0,14356.378380,14356.378380,15205.195970,0.0,0.0
1911,2469671,101,2469671101,6,2469671101006,24,1,-1,1,1,...,0,0,0,6465,0,38433.175350,38433.175350,44525.095800,0.0,0.0
1912,2469677,101,2469677101,10,2469677101010,24,3,-1,0,0,...,0,0,0,179,0,14564.473930,14564.473930,16405.934470,0.0,0.0

In [91]:
joined.shape

(1913, 1468)

In [95]:
joined.to_csv("aggregated.csv", index=False)